
progress {
  appearance: none;
  display: block;
  width: 100%;
  border: none;
  background-color: var(--background-color-progress);
  height: 18px;
  position: fixed;
  z-index: 30000;
  top: 0;
  left: 0;

  &::-webkit-progress-bar {
    background-color: transparent;
  }
}

progress::-webkit-progress-value {
  background-color: var(--background-color-value);
  transition: width .4s ease-in-out;
}

progress::-moz-progress-bar {
  background-color: var(--background-color-value);
}

progress::-ms-fill {
  background: var(--background-color-value);  // this must be background property in order to work in edge 15-17 background-color does not work
}

